.post-form {
  background-color: rgba(101, 100, 107, 0.4);
  width: 40%;
  padding: 20px 20px 5px;
  height: 75vh;
  color: white;
  position: sticky;
  top: 80px;
  fieldset {
    padding: 10px 15px;
    margin: 5px 0;
  }
  input[type="text"] {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    border: none;
    outline: none;
    background-color: rgba(158, 158, 161, 0.4);
    color: white;
    &:hover {
      background-color: rgba(47, 47, 50, 0.4);
    }
  }
  input[type="file"] {
    margin-top: 10px;
    text-align: none;
  }
  div button {
    width: 50%;
    padding: 10px;
    margin: 30px auto 0;
    background-color: rgb(8, 8, 81);
    border: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
    border-radius: 10px;
    letter-spacing: 2px;
    &:hover {
      background-color: rgb(79, 79, 190);
    }
  }
}

@media only screen and (max-width: 770px) {
  .post-form {
    position: static;
    width: 100%;
    margin: 10px 0;
  }
}
